<div class="navbar-brand">
    <a href="/index.html" class="navbar-item navbar-btn" aria-label="menu" aria-expanded="false" data-target="navbarMain">
        <img src=".\static\img\new-logo.png"></img>
    </a>
    <a class="navbar-item is-size-5" href="/">Acceuil</a>
    <a class="navbar-item is-size-5" href="faq.html">Questions Fréquentes</a>
</div>
<div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
        
        <!--<a class="navbar-item is-size-5" href="">Notre Portefolio</a>-->
    </div>
</div>